// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#navbarNavDropdown {
	justify-content: flex-end;
}


.admin-bar .fixed-top {
 top: 32px;
}

@media screen and (max-width: 782px) {
 .admin-bar .fixed-top {
   top: 46px;
 }
}

#content {
  padding-top: 32px;
}

.card {
	width: 120px;
}

#wrapper-footer {
	padding: 0;
}

.card-deck {
    flex-flow: row wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.card-img {
	max-height: 200px !important;
}

.card-img-overlay h5 {
	background-color: rgba(255,255,255,0.5);
	border-radius: 6px;
	padding: 10px;
}


.navbar {
    background-color: $green !important;
}

#wrapper-footer-full {
    background-color: #a4b0be !important;
		padding-top: 0px;
    padding-bottom: 10px
}

  @include media-breakpoint-up (md) {
    .entry-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -6px;
    height: 200px;
    background-size: 100% auto;
    background-position: center;
  }

  .entry-title {
    padding: 60px;
    //color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 4rem !important;
  }

  }

.entry-content {
	padding: 30px;
}

.card-test {
	color: white;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black;
}

.img-fluid {
//	max-width: 10%;
	height: auto;
	position: absolute;
	top: 0%;
}
