// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#navbarNavDropdown {
	justify-content: flex-end;
}


.admin-bar .fixed-top {
 top: 32px;
}

@media screen and (max-width: 782px) {
 .admin-bar .fixed-top {
   top: 46px;
 }
}

#content {
  padding-top: 32px;
}

.card {
	width: 120px;
}

#wrapper-footer {
	padding: 0;
}

.card-deck {
    flex-flow: row wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.card-img {
	max-height: 200px !important;
}

.card-img-overlay h5 {
	background-color: rgba(255,255,255,0.5);
	border-radius: 6px;
	padding: 10px;
}


.navbar {
    background-color: #2C3A47 !important;
}

#wrapper-footer-full {
    background-color: #a4b0be !important;
}

.entry-header {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -6px;
	height: 150px;
}

.entry-title {
	padding: 45px;
	color: white;
}

.entry-content {
	padding: 30px;
}

.card-test {
	color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
