// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#navbarNavDropdown {
	justify-content: flex-end;
}


.admin-bar .fixed-top {
 top: 32px;
}

@media screen and (max-width: 782px) {
 .admin-bar .fixed-top {
   top: 46px;
 }
}

#content {
  padding-top: 32px;
}
